<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Tipo de respuesta</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/result_style.css') }}">

</head>

<body>
    <div class="contenedor-principal">    
        <h1 class="titulo-feeltech">FEELTECH</h1>
        
        <ul>

            <!-- BOTÓN ANÓNIMO -->

            <li>

                <a href="/anonimo/Anonimo">

                    anonimo

                </a>

            </li>

            <!-- BOTÓN PERSONAL -->

            <li>

                <a href="/anonimo/Personal">

                    personal

                </a>

            </li>

        </ul>

        <a href="javascript:history.back()" class="boton-volver">

            Volver

        </a>
    </div>

</body>

</html>