<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Ingresa tu nombre</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='nombre.css') }}">

</head>

<body>

    <div class="contenedor">

        <form action="/guardar_nombre" method="POST">

            <input
                type="text"
                name="nombre"
                placeholder="Ingresa tu nombre"
                required
            >

            <button type="submit">

                Continuar

            </button>

        </form>

    </div>

    <!-- BOTÓN VOLVER -->

    <a href="javascript:history.back()" class="boton-volver">

        <img
            src="{{ url_for('static', filename='botonvolver.png') }}"
            alt="Volver">

    </a>

</body>

</html>