<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Ingresa tu nombre</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/result_style.css') }}">

</head>

<body>
    <div class="contenedor-principal">
        <h1 class="titulo-feeltech">FEELTECH</h1>
        
        <div class="contenedor">

            <form action="/guardar_nombre" method="POST">

                <input
                    type="text"
                    name="nombre"
                    placeholder="Ingresa tu nombre"
                    required
                >

                <button type="submit">

                    Continuar

                </button>

            </form>

        <a href="/" class="boton-volver">
            Volver
        </a>
    </div>
</body>

</html>