<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Selecciona tu grupo</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/result_style.css') }}">

</head>

<body>

    <ul>

        <li>
            <a href="/grupo/A">
                Grupo A
            </a>
        </li>

        <li>
            <a href="/grupo/B">
                Grupo B
            </a>
        </li>

        <li>
            <a href="/grupo/C">
                Grupo C
            </a>
        </li>

    </ul>

    <a href="/" class="boton-volver">
        Volver
    </a>

</body>

</html>