<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Selecciona tu grupo</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <ul>

        <li>
            <a href="/grupo/A">
                <img src="{{ url_for('static', filename='a.png') }}"
                    width="200">
            </a>
        </li>

        <li>
            <a href="/grupo/B">
                <img src="{{ url_for('static', filename='b.png') }}"
                    width="200">
            </a>
        </li>

        <li>
            <a href="/grupo/C">
                <img src="{{ url_for('static', filename='c.png') }}"
                    width="200">
            </a>
        </li>

    </ul>

    <a href="javascript:history.back()" class="boton-volver">

        <img
            src="{{ url_for('static', filename='botonvolver.png') }}"
            alt="Volver">

    </a>

</body>

</html>