<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Gracias</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='volver.css') }}">

</head>

<body>

    <div class="contenedor">

        <!-- BOTÓN REGRESAR A LA PÁGINA ANTERIOR -->

        <a href="javascript:history.back()" class="boton-volver">

            <img
                src="{{ url_for('static', filename='botonvolver.png') }}"
                alt="Volver">

        </a>

        <!-- BOTÓN REGRESAR AL INICIO -->

        <a href="/reiniciar" class="boton-inicio">

            <img
                src="{{ url_for('static', filename='Volver.png') }}"
                alt="Inicio">

        </a>

    </div>

</body>

</html>